{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>The Flask Movie Portal</h1>
        <p>Welcome to an introduction on how to use Flask to build REST APIs.</p>
        <p>We have {{ movies|length }} movies in our database.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/w8s/flask_api_sample" role="button">View Source on Github</a></p>
    </div>
</div>
<div class="container">
{% if movies %}
    {% for movie in movies %}
    <div class="well">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ url_for('display_movie', movie_id=movie.id) }}">
                  <img class="pull-right img-rounded" height="150px" src="{{movie.Poster}}" alt="{{movie.Title}}-poster">
                </a>
            </div>
            <div class="col-md-10">
                <h2><a href="{{ url_for('display_movie', movie_id=movie.id) }}">{{movie.Title}}</a></h2>
                <p>{{movie.Plot}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>Sorry, no movies available</p>
{% endif %}
</div>
{% endblock %}
